화면에 Hello World 문자열을 출력하세요.

In [2]:
print('hello world')

hello world

화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [3]:
print("Mary's cosmetic")

Mary's cosmetic

화면에 C:\Windows를 출력하세요.

In [4]:
print("C:\Windows")

C:\Windows

005 print 탭과 줄바꿈 - 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요. -탭설정, 줄바꿈

In [5]:
print("다음 코드를.\n 실행해보고 역할을 설명해보세요.")

다음 코드를.
 실행해보고 역할을 설명해보세요.

006 print 여러 데이터 출력 - print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다

In [6]:
print ("오늘은", "일요일")

오늘은 일요일

007 print 기초 - print() 함수를 사용하여 다음과 같이 출력하세요.
naver;kakao;sk;samsung

In [7]:
print("naver';'kakao';'sk';'samsung")

naver';'kakao';'sk';'samsung

008 print 기초 - print() 함수를 사용하여 다음과 같이 출력하세요.
naver/kakao/sk/samsung.  -답)print("naver", "kakao", "samsung", sep=";")
답) print("naver", "kakao", "samsung", sep="/")

In [8]:
print(naver'/'kakao'/'sk'/'samsung)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4287876361.py, line 1)

009 print 줄바꿈 - 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")
답) print("first", end=""); print("second")

In [9]:
print("first");print("second")

first
second

010 연산 결과 출력 - 5/3의 결과를 화면에 출력하세요.

In [10]:
print(5 / 3)

1.6666666666666667