01. 화면에 Hello World 문자열을 출력하세요.

In [1]:
print('hello world')

hello world

02. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary's cosmetic")

Mary's cosmetic

03. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
신씨가 소리질렀다. "도둑이야".

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

04. 화면에 C:\Windows를 출력하세요.

In [4]:
print("C:\Windows")

C:\Windows

05. print 탭과 줄바꿈 - 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요. -탭설정, 줄바꿈

In [5]:
print("다음 코드를.\n 실행해보고 역할을 설명해보세요.")

다음 코드를.
 실행해보고 역할을 설명해보세요.

06. print 여러 데이터 출력 - print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다

In [6]:
print ("오늘은", "일요일")

오늘은 일요일

07. print 기초 - print() 함수를 사용하여 다음과 같이 출력하세요.
naver;kakao;sk;samsung

In [7]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

08. print 기초 - print() 함수를 사용하여 다음과 같이 출력하세요.
naver/kakao/sk/samsung.  -답)print("naver", "kakao", "samsung", sep=";")
답) print("naver", "kakao", "samsung", sep="/")

In [8]:
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

09. print 줄바꿈 - 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")
답) print("first", end=""); print("second")

In [9]:
print("first", end=""); print("second")

firstsecond

010. 연산 결과 출력 - 5/3의 결과를 화면에 출력하세요.

In [10]:
print(5 / 3)

1.6666666666666667

11. 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [11]:
samsung = 50,000
result = samsung * 10
print(result)

(50, 0, 50, 0, 50, 0, 50, 0, 50, 0, 50, 0, 50, 0, 50, 0, 50, 0, 50, 0)

12. 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

In [12]:
amount = 298000000000000
nowprice = 50,000
PER = 15.79

print(amount, type(amount))
print(nowprice, type(nowprice))
print(PER, type(PER))

298000000000000 <class 'int'>
(50, 0) <class 'tuple'>
15.79 <class 'float'>

13. 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"
두 변수를 이용하여 아래와 같이 출력해보세요. - hello! python

In [13]:
s = "hello"
t = "python"

print(s +'!' + t)

hello!python

14 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.

2 + 2 * 3

In [14]:
print(2 + 2 * 3)

8

15 type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
a = 128
print (type(a))
<class 'int'>
아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"

In [15]:
a = 128
print (type(a))
a = "132"
print(type(a))

<class 'int'>
<class 'str'>

16. 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

In [16]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int)

720

17. 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.
num = 100

In [17]:
num = 100
print(str(num))

100

18. 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [18]:
print(float(15.79))

15.79

19. 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"

In [19]:
year = "2020"
print(int(year) + 1)
print(int(year) + 2)
print(int(year) + 3)

2021
2022
2023

20. 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [20]:
month = 36
amount = 448,584 * month
print(amount)

(448, 21024)

21. 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'

In [21]:
lang = 'python'
print(lang[0], lang[2])

p t