### 파이썬 시작하기

01. 화면에 Hello World 문자열을 출력하세요.

In [ ]:
print('hello world')

02. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [ ]:
print("Mary's cosmetic")

03. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.) 신씨가 소리질렀다. "도둑이야".

In [ ]:
print('신씨가 소리질렀다. "도둑이야".')

04. 화면에 C:\Windows를 출력하세요.

In [ ]:
print("C:\Windows")

05. print 탭과 줄바꿈 - 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요. -탭설정, 줄바꿈

In [ ]:
print("다음 코드를.\n 실행해보고 역할을 설명해보세요.")

06. print 여러 데이터 출력 - print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다

In [ ]:
print ("오늘은", "일요일")

07. print 기초 - print() 함수를 사용하여 다음과 같이 출력하세요. naver;kakao;sk;samsung

In [ ]:
print("naver", "kakao", "samsung", sep=";")

08. print 기초 - print() 함수를 사용하여 다음과 같이 출력하세요. naver/kakao/sk/samsung. -답)print("naver", "kakao", "samsung", sep=";") 답) print("naver", "kakao", "samsung", sep="/")

In [ ]:
print("naver", "kakao", "samsung", sep="/")

09. print 줄바꿈 - 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first");print("second") 답) print("first", end=""); print("second")

In [ ]:
print("first", end=""); print("second")

10. 연산 결과 출력 - 5/3의 결과를 화면에 출력하세요.

In [ ]:
print(5 / 3)

### 변수

11. 변수 사용하기 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요

In [ ]:
samsung = 50,000
result = samsung * 10
print(result)

12. 변수 사용하기 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

In [ ]:
amount = 298000000000000
nowprice = 50,000
PER = 15.79

print(amount, type(amount))
print(nowprice, type(nowprice))
print(PER, type(PER))

13. 문자열 출력 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = "hello" t = "python" 두 변수를 이용하여 아래와 같이 출력해보세요. - hello! python

In [ ]:
s = "hello"
t = "python"

print(s +'!' + t)

14. 파이썬을 이용한 값 계산 아래 코드의 실행 결과를 예상해보세요.

2 + 2 * 3

In [ ]:
print(2 + 2 * 3)

15 type 함수 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다. a = 128 print (type(a)) <class 'int'> 아래 변수에 바인딩된 값의 타입을 판별해보세요. a = "132"

In [ ]:
a = 128
print (type(a))
a = "132"
print(type(a))

16, 문자열을 정수로 변환 문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"

In [ ]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int)

17. 정수를 문자열 100으로 변환 정수 100을 문자열 '100'으로 변환해보세요. num = 100

### 문자열

In [ ]:
num = 100
print(str(num))

18. 문자열을 실수로 변환 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [ ]:
print(float(15.79))

19. 문자열을 정수로 변환 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요. year = "2020"

In [ ]:
year = "2020"
print(int(year) + 1)
print(int(year) + 2)
print(int(year) + 3)

20.파이썬 계산 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [ ]:
month = 36
amount = 448,584 * month
print(amount)

21. 문자열 인덱싱 - letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요. letters = 'python'

In [ ]:
lang = 'python'
print(lang[0], lang[2])

22. 문자열 슬라이싱 - 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"

In [ ]:
license_plate = "24가 2210"
print(license_plate[-4:])

23. 문자열 인덱싱 - 아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"

In [ ]:
string = "홀짝홀짝홀짝"
print(string[::2])

#시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.

24. 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"

In [ ]:
string = "PYTHON"
print(string[::-1])

25. 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"

In [ ]:
phone_number = "010-1111-2222"
phone_number = phone_number.replace("-", " ")
print(phone_number)

26. 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [ ]:
phone_number = "010-1111-2222"
phone_number = phone_number.replace('-', '')
print(phone_number)

27. 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"

문자열로 표현된 url에서 `.`을 기준으로 분리합니다. 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있습니다.

In [ ]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

28. 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

In [ ]:
lang = 'python'
lang[0] = 'P'
print(lang)

#문자열은 수정불가함

29. replace 메서드 - 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'

string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

In [ ]:
string = 'abcdfe2a354a32a'
print(string.upper())

30. replace 메서드 - 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)

In [ ]:
string = 'abcd'
string.replace('b', 'B')
print(string)

#`abcd`가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다. replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

31. 문자열 합치기 - 아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

In [ ]:
a = "3"
b = "4"
print(a + b)

32. 문자열 곱하기 - 아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)

In [ ]:
print("Hi" * 3)

33. 문자열 곱하기 - 화면에 '-'를 80개 출력하세요.

In [ ]:
print('-' * 80)

34. 문자열 곱하기 - 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
python java python java python java python java

In [ ]:
 t1 = 'python'
 t2 = 'java'
 print((t1 + t2+ ' ')  *3)

35. 문자열 출력 - 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

#print 포맷팅에서 `%s`는 문자열 데이터 타입의 값
#`%d`는 정수형 데이터 타입 값의 출력을 의미

36. 문자열 출력 - 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

#문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 `{ }`를 적어주면 됩니다.

37. 문자열 출력 - 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name1} 나이: {age2}")
#f-string은 문자열 앞에 f가 붙은 형태입니다. f-string을 사용하면 `{변수}`와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다

38. 컴마 제거하기 - 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [ ]:
stock = "5,969,782,550"
컴마제거 = stock.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환)

39. 문자열 슬라이싱 - 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"

String[start:end:step]

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

40. strip 메서드 - 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [ ]:
data = "   삼성전자    "
print(data.strip())

41. upper 메서드 - 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"

In [ ]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

42. lower 메서드 - 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"

In [ ]:
ticker = "BTC_KRW"
ticker2 = ticker.lower()
print(ticker2)

43. capitalize 메서드 - 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [ ]:
text = 'hello'
text2 = text.title() #capitalize()
print(text2)

44. endswith 메서드 - 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"

In [ ]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

45. endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"

In [ ]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls")) #()

46. startswith 메서드 - 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"

In [ ]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

47. split 메서드 - 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"

In [ ]:
a = "hello world"
b = a.split(" ")

c = "".join(a)
print(c)

48. split 메서드 - 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"

In [ ]:
ticker = "btc_krw"
b = ticker.split("_")
print(b)

49. split 메서드 - 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"

In [ ]:
date = "2020-05-01"
date.split("-")

50. rstrip 메서드 - 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "

In [ ]:
 data = "039490     "
 print(data.rstrip())

### 리스트

51. 리스트 생성 - 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

In [ ]:
 movie_rank = ['닥터스트레인지', '스플릿', '럭키']

52. 리스트에 원소 추가 - 51의 movie_rank 리스트에 "배트맨"을 추가하라.

In [ ]:
movie_rank = ['닥터스트레인지', '스플릿', '럭키']
movie_rank.append('베트맨')
print(movie_rank)

53. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

54. movie_rank 리스트에서 '럭키'를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[3] #[]
print(movie_rank)

55. movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[-2:]
print(movie_rank)

56. lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

57. 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

58. 다음 리스트의 합을 출력하라.
nums = [1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

59. 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

60. 다음 리스트의 평균을 출력하라.

In [ ]:
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
print(avg)

61. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

62. 슬라이싱을 사용해서 홀수만 출력하라.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sliced = nums[::2]
print(sliced)

63. 슬라이싱을 사용해서 짝수만 출력하라.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sliced = nums[1::2]
print(sliced)

64. 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

In [ ]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

65. interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
삼성전자 Naver

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])
print(interest[::2])

66. join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

67. join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

68. join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

69. 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
이를 interest 이름의 리스트로 분리 저장하라.

실행 예시
print(interest)
['삼성전자', 'LG전자', 'Naver']

In [ ]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

70. 리스트 정렬 - 리스트에 있는 값을 오름차순으로 정렬하세요.

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

### 튜플

71. my_variable 이름의 비어있는 튜플을 만들라.

In [ ]:
my_varruable = {}
print(type(my_varruable))

72. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

In [ ]:
movie_rank = {'닥터스트렝인지', '스를릿', '럭키'}
print(movie_rank)

73. 숫자 1 이 저장된 튜플을 생성하라.

In [ ]:
num1 = (1, )
print(num1) #하나의 데이터가 저장시 쉼표를 입력

74. 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

In [ ]:
t = (1, 2, 3)
t[0] = 'a'  #순서가 있지만 수정 불가능한 자료구조

75. 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

In [ ]:
t = 1, 2, 3, 4
print(type(t)) #튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작

76. 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
튜플의 값은 변경할 수 없기 때문에, 리스트와 달리 아래 코드는 동작하지 않습니다.
t[0] = 'A'
새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.
t = ('A', 'b', 'c')

In [ ]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c') #변수를 업데이트

77. 다음 튜플을 리스트로 변환하라.

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

78. 다음 리스트를 튜플로 변경하라.

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest))

79. 튜플 언팩킹 - 다음 코드의 실행 결과를 예상하라.

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp #unpacking
print(a, b, c)

80. range 함수 - 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

In [ ]:
banana = tuple(range(2,99,2))
print(banana)